body {
  margin: 0;
  padding: 0;
  background-image: url("../image/charwpp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  background-image: url("../image/title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 100px;
}

.side-title {
  display: none;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  border: rgb(0, 0, 0) solid 2px;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

.white { background-color: #f3fecd; }
.black { background-color: #ffbb00; }
.highlight { background-color: rgb(157, 255, 0) !important; }
