body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5c5c5c;
    
    margin: 0;
  }
  .chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-columns: repeat(8, 60px);


  }
  .square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
  }
  .white { background-color: #dde2cc; }
  .black { background-color: #f779b8; }
  .highlight { background-color: rgb(0, 255, 157) !important; }
  